{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="description" content="Django Example App">
        <meta name="keywords" content="Voting, Contact, Practice">
        <meta name="msapplication-TileImage" content="{% static 'polls/images/sample.ico' %}">

        <title>Django Example App</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.tailwindcss.com"></script>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">
        <link rel="stylesheet" href="{% static 'polls/style.css' %}">

        <link rel="icon" href="{% static 'polls/images/sample.ico' %}">

    </head>
    <body>
        <nav>
          <ul>
              <li><a href="{% url 'polls:index' %}">Home</a></li>
              <li><a href="{% url 'polls:contactForm' %}">Contact</a></li>

              {% if user.is_authenticated %}
                <li><a href="{% url 'clients:logout' %}">Logout</a></li>
              {% else %}
                <li><a href="{% url 'clients:login' %}">Log In</a></li>
              {% endif %}

          </ul>
        </nav>

        <header class="page-header">
          <div class="container">
              <h1><a href="{% url 'polls:index' %}">Django Example App</a></h1>
          </div>
        </header>

        <main class="container mt-10 h-100vh mx-10">
          {% block content %}
          {% endblock %}
        </main>
    </body>
</html>
