{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Django Example App</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.tailwindcss.com"></script>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">
        <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    </head>
    <body>
        <nav>
          <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact</a></li>
          </ul>
        </nav>

        <header class="page-header">
          <div class="container">
              <h1><a href="/">Django Example App</a></h1>
          </div>
        </header>

        <main class="container mt-10 h-100vh">
          {% block content %}
          {% endblock %}
        </main>
    </body>
</html>
